body {
  height: 100%;
  background: #fafafa;
}
.content {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 20px;
}
.content input {
  margin: 10px;
  font-size: 14pt;
  outline: none;
  border: 1px solid #eee;
  padding: 4px 10px;
  border-radius: 3px;
  flex-grow: 1;
}
.content input::-webkit-outer-spin-button,
.content input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.content .fields {
  border-radius: 10px 10px 0px 0px;
  padding: 10px 0;
  width: 100%;
  background: #424242;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  box-shadow: 0px 0px 20px #aaa;
}
.content .data {
  width: 100%;
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  box-shadow: 0px 0px 20px #aaa;
}
.content .data .user {
  box-shadow: 0px 0px 20px #aaa;
  background: #fff;
  margin: 10px;
  width: 200px;
  transition-duration: 0.3s;
}
.content .data .user .desc {
  padding: 10px;
}
.content .data .user a {
  font-size: 14pt;
  text-decoration: none;
  color: #424242;
}
.content .data .user a:hover {
  color: #71c6ff;
}
.content .data .user img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}
.content .data .user:hover {
  transition-duration: 0.3s;
  box-shadow: 0px 0px 5px #27c2ff;
}
.content .btn {
  font-size: 14pt;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  flex-grow: 1;
  margin: 10px;
}
.content .btn.blue {
  color: #000000;
  background: #65d2fd;
  transition-duration: 0.3s;
}
.content .btn.blue:hover {
  color: #fff;
  background: #27c2ff;
}
